@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Mea+Culpa&display=swap');
body{
    background-image: url("https://images.unsplash.com/photo-1626624340240-aadc087844fa?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.day{
    
    height: 50px;
    width :90px;
    border-radius: 7px;
    background: #000000;
  border: 1px solid #ffffff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;

    
    
}
.day:hover,
.day:active {
  background-color: initial;
  background-position: 0 0;
  color: #000000;
}

.day:active {
  opacity: .5;
}




.Head{
    
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Mea Culpa', cursive;
    font-size: 50Px;
    text-shadow: #ffffffdb 2px 1px;
    
    

}
